<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>commentaire</title>
	<link rel="stylesheet" href="../css/bootstrap.min.css"> 
    <link rel="stylesheet" href="../css/styleG.css">
</head>

<body>
      <div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top"><!--navbar-default colore la navbar en gris et navbar-inverse inverse la coleur en noir et
        fixed top permet de fixer la navbar au dessus meme si on fait defiler la page-->
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <!--collapsed pour le redimensionnement et avoir les trois tirés avec le span class="icon"-->
                <span class="sr-only"><!--pour les mal voyant-->Toggle navigation</span>
                  <span class="icon-bar" ></span><!--le tiré quand on redimensionne-->
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                
              </div>
              <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="caracteristic.html">Consulter</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </nav>
          <div class="jumbotron">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                            <h1 id="logo"><span class="text-color">Goo2Goo</span></h1>
          </div>
        </div>
        </div>
        </div>
        <div class="container">
		<div class="caracter"
    
         <tr><td>Nom:<br></td><td><input type="text" name="nom" value=""
         placeholder="" required></td></tr><br><br>

         <tr><td>Prénom:<br></td><td><input type="text" name="nom" value=""
         placeholder="" required></td></tr><br><br>

         <tr><td>Email:<br></td><td><input type="text" name="nom" value=""
         placeholder="" required></td></tr><br><br>

          <textarea name="name" rows="5" cols="50" placeholder="pas plus 250 caractères*" ></textarea></p>
        <p>
        <input type="submit" value="Validé"><input type="reset">
        </p><br>
         </div>
    </div>
    


    <footer>
            <div class="col-md-6">
                    <ul>
                        <li><a href="../index.html">Accueil</a></li>
                        <li><a href="connexion.html">connexion</li>
                        <li><a href="contact.html">Contact</li>
                        <li><a href="commentaire.html">Commentaire</a></li>
                    </ul>
            </div>
            <div class="col-md-6">
                <p>&copy; Copy Right | ALL rights reserved</p>
            </div>
        </footer>
    </div>


</body>
</html>