<!DOCTYPE html>
<html>
    <head>
            <title>Goo2Goo</title>
            <meta charset="utf-8">
            <link rel="stylesheet" href="../css/bootstrap.min.css">
            <link rel="stylesheet" href="../css/styleG.css">
    </head>
    <body onload="function caracters()">
        <div class="container-fluid">
                <nav class="navbar navbar-inverse navbar-fixed-top"><!--navbar-default colore la navbar en gris et navbar-inverse inverse la coleur en noir et
                    fixed top permet de fixer la navbar au dessus meme si on fait defiler la page-->
                        <div class="container">
                          <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <!--collapsed pour le redimensionnement et avoir les trois tirés avec le span class="icon"-->
                            <span class="sr-only"><!--pour les mal voyant-->Toggle navigation</span>
                              <span class="icon-bar" ></span><!--le tiré quand on redimensionne-->
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
                            
                          </div>
                          <div id="navbar" class="collapse navbar-collapse">
                            <ul class="nav navbar-nav">
                              <li><a href="../index.html">Home</a></li>
                              <li><a href="contact.html">Contact</a></li>
                              <li><a href="caracteristic.html">Consulter</a></li>
                            </ul>
                          </div><!--/.nav-collapse -->
                        </div>
                      </nav>		
                
                <div class="jumbotron">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                                        <h1 id="logo"><span class="text-color">Goo2Goo</span>
                                        </h1>
                                   
                      </div>
                    </div>
                    </div>
                    </div>
                    <div class="container">
					
						<div class="caracter">
                            <form>
                                    <legend style="color: green">
                                    <h1>Oui!!!, Je loue</h1></legend>
                                    <h3 style="color:white<!--rgba(238, 4, 4, 0.562)-->">Selectionnez votre choix</h3>
                                    <table>
                                            <tr>
                                                    <td>nombre de jours:</td>
                                                    <td><input type="number" id="nbj" ></td>
                                            </tr>
											<tr>
												<td>Debut:</td>
												<td><input type="date" id="debut"></td> 
											</tr>
											<tr>
                                            <td>Marque:</td>
                                            <td><select id="voitures" onchange="caracters();">
                                                <option value="empty">Select</option>
                                                <option value="Peugeot">Peugeot</option>
                                                <option value="Renault">Renault</option>
                                                <option value="Mercedess">Mercedess</option>
                                                <option value="BMW">BMW</option>
                                            </select></td>
                                        </tr>
                                        <tr>
                                        <td>Modele:</td>
                                        <td><input type="" name="" id="modele" disabled=""></td>
                                        </tr>
                                        <tr>
                                        <td>carburant:</td>
                                        <td><input type="" name="" id="energie" disabled=""></td>
                                        </tr>
                                        <tr>
                                        <td>Boite de vitesse: </td>
                                        <td><input type="" name="" id="boite" disabled=""></td>
                                        </tr>
                                        <td>prix par jour: </td>
                                        <td><input type="" name="" id="prix" disabled="">euros</td>
                                        </tr>
                    
                                    </table>
                                    <br>
                            
                                </form>
                                <script >
                                    function caracters()
                                    {
                                    var marque=[];
                                    var modele=[];
                                    var energie=[];
                                    var boite=[];
                                    var prix=[];
                                    marque[0]="Peugeot";
                                    modele[0]="508";
                                    energie[0]="Diesel";
                                    boite[0]="auto";
                                    prix[0]="50";
                            
                                    marque[1]="Renault";
                                    modele[1]="Talisman";
                                    energie[1]="Diesel";
                                    boite[1]="auto";
                                    prix[1]="50"
                            
                                    marque[2]="Mercedess";
                                    modele[2]="classe C220";
                                    energie[2]="Diesel";
                                    boite[2]="auto";
                                    prix[2]="70";
                            
                                    marque[3]="BMW";
                                    modele[3]="Serie 4";
                                    energie[3]="Diesel";
                                    boite[3]="auto";
                                    prix[3]="70";
                            
                                    var selection=document.getElementById("voitures").value;
                                    var jours=document.getElementById("nbj").value;
									var debut=document.getElementById("debut").value;
                                    var resultat;
									
                                    for (i=0; i<marque.length ; i++) 
                                    {
											
                                            if (marque[i]==selection && jours!=0 && debut!=0) 
                                            {
                                                document.getElementById("modele").value=modele[i];
                                                document.getElementById("energie").value=energie[i];
                                                document.getElementById("boite").value=boite[i];
                                                document.getElementById("prix").value=prix[i];
												
                                                
                                                if(jours>0 && jours<=180)
                                                {																		
                                                    document.getElementById("modele").value=modele[i];
                                                    document.getElementById("energie").value=energie[i];
                                                    document.getElementById("boite").value=boite[i];
                                                    document.getElementById("prix").value=prix[i];
                                                    resultat=document.getElementById("nbj").value*
                                                    document.getElementById("prix").value;
                                                    document.getElementById('afficher').innerHTML="Le montant à payer pour ce vehicule "+document.getElementById("voitures").value+" "
                                                    +document.getElementById("modele").value+" est de "+ resultat+" euros. Valider pour confirmer";
													
												
                                                }
                                                else if(jours>180){					
                                                    document.getElementById("modele").value=modele[i];
                                                    document.getElementById("energie").value=energie[i];
                                                    document.getElementById("boite").value=boite[i];
                                                    document.getElementById("prix").value=prix[i];
                                                    montant=document.getElementById("nbj").value*
                                                    document.getElementById("prix").value; 
                                                    remise=montant*10/100;
                                                    resultat=montant-remise;
													document.getElementById('afficher').innerHTML="Vous bénéficiez pour la location de ce vehicule "
													+document.getElementById("voitures").value+" "+document.getElementById("modele").value 
													+", une remie de: " + " 10%."+"<br>"+"Le montant à payer est de: "
													+ resultat+" euros. Valider pour confirmer";
												
                                                } 
                                                else
                                                {
                                                    document.getElementById("nbj").style.backgroundColor="red";
                                                    alert("remplissez ce champs avec un nombre positif");
                                                    break;
													
                                                }
                                        }
                                        else
                                                {
                                                  
                                                }
                                        
                                    }
                                    
										
                                }
								document.getElementById("nbj").value="";
								document.getElementById("debut").value="";
								document.getElementById("modele").value="";								
								document.getElementById("energie").value="";
								document.getElementById("boite").value="";
								document.getElementById("prix").value="";
								
                                </script>
							<div id="afficher">
            
                            </div>	
                            <br>
                            <p><a href="paiement.html"><button type="btn btn-default">Valider</button> </a>
                                <a href="../index.html"><button type="btn btn-default">Annuler</button></a>
                            </p>
							</div>
							
                    </div><br>
					<footer>
		<div class="row">
			<div class="col-xs-4">
					<ul>
						<li><a href="../index.html">Acceuil</a></li>
						<li><a href="contact.html">Nous contacter</a></li>
						<li><a href="connexion.html">Louer</a></li>
					</ul>
			</div>
			<div class="col-xs-4">
				<ul>
						<li><a href="https://www.facebook.com" target="blank"><img src="../images/facebook.png"></a></li>
						<li><a href="https://www.twitter.com" target="blank"><img src="../images/twitter2.png"></a> </li>
						<li><a href="https://www.linkedin.com" target="blank"><img src="../images/Linker.png"></a></li>
				</ul>
			</div>
			<div class="col-xs-4">
				&copy; Copy Right | ALL rights reserved
			</div>
		</div>
		</footer>
        </div>
    </body>
</html>