<html>
    <head>
        <title>Goo2Goo</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../css/bootstrap.min.css"> 
        <link rel="stylesheet" href="../css/styleG.css">         
    </head>
    <body>
            <nav class="navbar navbar-inverse navbar-fixed-top"><!--navbar-default colore la navbar en gris et navbar-inverse inverse la coleur en noir et
                fixed top permet de fixer la navbar au dessus meme si on fait defiler la page-->
                    <div class="container">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <!--collapsed pour le redimensionnement et avoir les trois tirés avec le span class="icon"-->
                        <span class="sr-only"><!--pour les mal voyant-->Toggle navigation</span>
                          <span class="icon-bar" ></span><!--le tiré quand on redimensionne-->
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                      </div>
                      <div id="navbar" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                          <li><a href="../index.html">Home</a></li>
                          <li><a href="contact.html">Contact</a></li>
                          <li><a href="caracteristic.html">Consulter</a></li>
                        </ul>
                      </div><!--/.nav-collapse -->
                    </div>
                  </nav>

        <div class="main">
            <header>
			
			 <div class="jumbotron">
                <div class="container">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 id="logo"><span class="text-color">Goo2Goo</span>
                    </h1>
                  </div>
                </div>
        		</div>
			 </div>            
            </header>

            <div class="container">
            <div  class="row" id="caracter">
            	<div class="col-xs-6">
            
                    <form method="">          
                        <h1 style="color: solid black">Caractéristiques</h1>
                            <table>
                                <tr>
                                   <td>Marque: </td>
                                    <td>Renault</td>
                                </tr>

                                <tr>
                                    <td>Modèle: </td>
                                    <td>Taslisman</td>
                                </tr>

                                <tr>
                                    <td>carburant: </td>
                                    <td>Diesel</td>
                                </tr>

                                <tr>
                                    <td>Boite de vitesse: </td>
                                    <td>Boite Automatique</td>
                                </tr>
                            </table>
                    </form>
                    <br>
        
            </div>
                <div class="col-xs-6">
                	<img src="../images/talisman.jpg">
					<br><br>
					<a href="connexion.html"><button type="button">Click pour Louer</button>
					<a href="commentaire.html"><button type="button"> poster votre commentaire</button></a>
                </div>
            </div>
            </div>

            <footer>
                <div class="row">
                    <div class="col-xs-4">
                            <ul>
                                <li><a href="../index.html">Acceuil</a></li>
                                <li><a href="contact.html">Nous contacter</a></li>
                                <li><a href="louer.html">Louer</a></li>
                            </ul>
                    </div>
                    <div class="col-xs-4">
                        <ul>
                            <li><a href="https://www.facebook.com" target="blank"><img src="images/facebook.png"></a></li>
                            <li><a href="https://www.twitter.com" target="blank"><img src="images/twitter2.png"></a </li>
                            <li><a href="https://www.linkedin.com" target="blank"><img src="images/Linker.png"></a></li>
                        </ul>
                    </div>
                    <div class="col-xs-4">
                <p id="f">  &copy; Copy Right | <span style="color: red"> ALL rights reserved</span></p>
                </div>
                </div>               
            </footer>
        </div>
    </body>
</html>